$button-classes: true !default;
$link-classes: true !default;
$header-classes: true !default;
$layout-classes: true !default;
$spacer-classes: true !default;
$label-classes: true !default;
$color-change: false !default; // Will adjust if false
