@if $button-classes {
    .button {    
        display: inline-flex;
        gap: var(--button-gap, var(--spacer-2));
        align-items: center;
        justify-content: center;
        padding: var(--spacer-3) var(--spacer-4);
        font-weight: var(--font-weight-bold);
        line-height: 100%;
        color: var(--color-grayscale-50);
        background-color: var(--color-primary-500);
        border: var(--border-color, none);
        border-radius: var(--border-radius-3);
        outline: .25rem solid var(--button-outline, transparent);

        // Used for accent colors (hover, active, focus, etc), use change this when a hover color requires a different color e.g. on red buttons, etc
        --secondary-button-color: var(--color-grayscale-600);
    
        &:hover {
            background-color: var(--color-primary-600);
        }
    
        &:focus,
        &:active {
            background-color: var(--color-primary-700);
        }
    
        &:disabled {
            background-color: var(--color-primary-200);
        }
    
        &--square {
            aspect-ratio: 1/1;
            padding: var(--spacer-2);
        }
    
        &--icon {
            aspect-ratio: 1/1;
            padding: var(--spacer-xs);
            border-radius: var(--border-radius-2);
        }
    
        &--circle {
            aspect-ratio: 1/1;
            padding: var(--spacer-2);
            border-radius: 50%;
        }
    
        // ! button--xs is not present in our styleguide
        &--xs {
            padding: var(--spacer-1) var(--spacer-2);
            font-size: var(--font-size-2);
            border-radius: var(--border-radius-2);
        }
    
        &--sm {
            padding: var(--spacer-2) var(--spacer-3);
            font-size: var(--font-size-4);
        }
    
        &--md {
            padding: var(--spacer-3) var(--spacer-4);
            font-size: var(--font-size-5);
        }
    
        &--xl {
            padding: var(--spacer-3) var(--spacer-5);
            font-size: var(--font-size-6);
        }
    
        &--2xl {
            --button-gap: var(--spacer-3);
    
            padding: var(--spacer-4) var(--spacer-7);
            font-size: var(--font-size-7);
        }
    
        &--fit {
            width: fit-content;
        }
    
        &--fill {
            width: 100%;
        }
   
        @each $name, $value in $theme-colors {

            &--#{$name} {
                color: contrast-color(
                    color-from-scale($value, $button-bg-scale),
                    color-from-scale($color-grayscale-500, 900),
                    color-from-scale($color-grayscale-500, 50)
                );
                background-color: var(--color-#{$name}-#{$button-bg-scale});

                &:hover {
                    color: ;
                }
            }
        }

        
        // &--secondary {
        //     color: var(--color-primary-700);
        //     background-color: var(--color-primary-50);
    
        //     &:hover {
        //         background-color: var(--color-primary-100);
        //     }
    
        //     &:disabled,
        //     &:focus,
        //     &:active {
        //         background-color: var(--color-primary-100);
        //     }
    
        //     &:focus,
        //     &:active {
        //         --button-outline: var(--color-primary-100);
        //     }
    
        //     &:disabled {
        //         background-color: var(--color-primary-300);
        //     }
        // }
    
        // &--tertiary {
        //     --border-color: 1px solid var(--color-grayscale-300);
        // }
    
        // &--danger {
        //     --border-color: 1px solid var(--color-danger-300);
        //     background-color: var(--color-danger-600);
        // }
    
        // &--faded {
        //     color: var(--color-grayscale-900);
        //     background-color: var(--color-grayscale-100);
    
        //     &:hover,
        //     &:focus,
        //     &:active {
        //         color: var(--color-primary-700);
        //         background-color: var(--color-primary-50);
        //     }
        // }
    
        // &--link {
        //     color: var(--color-grayscale-600);
        //     background-color: unset;
    
        //     &:hover,
        //     &:focus,
        //     &:active {
        //         color: var(--secondary-button-color);
        //         background-color: var(--color-grayscale-100);
        //     }
        // }
    
        // &[disabled],
        // &--disabled {
        //     pointer-events: none;
        //     cursor: not-allowed;
        //     opacity: var(--opacity-disabled);
        //     // TODO: current color-200
        //     // background-color: ${p => p.theme.primary200};
        // }
    
        // &--no-outline {
        //     outline: none;
    
        //     &:focus,
        //     &:active,
        //     &:hover {
        //         outline: none;
        //     }
        // }
    }
}
