@if $label-classes {
    .label {
        font-size: var(--font-size-4);
        font-weight: var(--font-weight-medium);
    
        &--form {
            color: var(--color-grayscale-700);
        }
    
        &--highlighted {
            font-weight: var(--font-weight-bold);
        }
    
        @each $name, $value in $theme-colors {
            &--#{$name} {
                color: var(--color-#{$name}-500);
            }
        }
    }
}
