@use 'sass:math';

// TODO: Perhaps change this color adjust instead of change in order to allow for any base color to work
:root {
    @each $name, $color in $theme-colors {
        $color-extra-light: change-color($color, $lightness: 80%);
        $color-light: change-color($color, $lightness: 60%);

        @each $color-scale in $color-scales {
            $color-value: change-color($color, $lightness: math.div($color-scale,10) * 1%);
            --color-#{$name}-#{$color-scale}: #{$color-value};
        }        
    }
}
