:root {
    @each $size in $sizes {
        --spacer-#{$size}: #{$size * $spacer};
    }

    --spacer-xs: .125rem;
}

// Margin and padding utility classes
// ? the -inline and -block might become annoying when overwriting these specifically with margin-left or padding-left for example. In which case make these explicit
@each $size in $sizes {
    .m-#{$size} {
        margin: var(--spacer-#{$size});
    }

    .my-#{$size} {
        margin-block: var(--spacer-#{$size});
    }

    .mx-#{$size} {
        margin-inline: var(--spacer-#{$size});
    }

    .p-#{$size} {
        padding: var(--spacer-#{$size});
    }

    .py-#{$size} {
        padding-block: var(--spacer-#{$size});
    }

    .px-#{$size} {
        padding-inline: var(--spacer-#{$size});
    }

    // .mt, mb, ml, mr, (And for padding)
    @each $prefix, $side in $sides {
        .m#{$prefix}-#{$size} {
            margin-#{$side}: var(--spacer-#{$size});
        }

        .p#{$prefix}-#{$size} {
            padding-#{$side}: var(--spacer-#{$size});
        }
    }
}
