// https://css-tricks.com/snippets/sass/tint-shade-functions/

// Slightly lighten a color
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

// Slightly darken a color
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

// Variables

// Color system
$white:        #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:        #000 !default;

$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
) !default;

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$colors: (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "black": $black,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800
) !default;

$brand: #00F0B5;
$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
) !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: .25rem !default;

$sides: (
    "t": "top",
    "b": "bottom",
    "l": "left",
    "r": "right"
) !default;

// Multiplication of $spacer
$sizes: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 24, 36 !default;

$offset-values: (
    0: 0,
    50: 50%,
    100: 100%
) !default;

$body-bg: $white !default;
$body-color: $gray-900 !default;
$body-text-align: null !default;

// Links
//
// Style anchor elements.

$border-radius: .375rem !default;
$border-radius-sm: .25rem !default;
$border-radius-lg: .5rem !default;
$border-radius-xl: 1rem !default;
$border-radius-2xl: 2rem !default;
$border-radius-pill: 50rem !default;

$box-shadow: 0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, .175) !default;
$box-shadow-inset: inset 0 1px 2px rgba($black, .075) !default;

// Transitions

$transition-duration-fast: .1s !default;
$transition-duration: .2s !default;
$transition-duration-slow: $transition-duration * 2 !default;

$transition-fast: all $transition-duration-fast ease !default;
$transition-base: all $transition-duration ease !default;
$transition-slow: all $transition-duration-slow ease !default;

$easing-in-out-quart: cubic-bezier(.76, 0, .24, 1) !default;
$easing-ease-out-back: cubic-bezier(.34, 1.56, .64, 1) !default;
$easing-ease-out-back-reverse: cubic-bezier(1, .64, 1.56, .34) !default;

$transition-bounce-back-fast: #{$transition-duration-fast} #{$easing-ease-out-back} !default;
$transition-bounce-back: #{$transition-duration} #{$easing-ease-out-back} !default;
$transition-bounce-back-slow: #{$transition-duration-slow} #{$easing-ease-out-back} !default;

$transitions: (
    "transition-duration-fast": $transition-duration-fast,
    "transition-duration": $transition-duration,
    "transition-duration-slow": $transition-duration-slow,

    "transition-fast": $transition-fast,
    "transition-base": $transition-base,
    "transition-slow": $transition-slow,

    "easing-in-out-quart": $easing-in-out-quart,
    "easing-ease-out-back": $easing-ease-out-back,
    "easing-ease-out-back-reverse": $easing-ease-out-back-reverse,

    "transition-bounce-back-fast": $transition-bounce-back-fast,
    "transition-bounce-back": $transition-bounce-back,
    "transition-bounce-back-slow": $transition-bounce-back-slow,
) !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// $font-family-base:                        var(--#{$prefix}font-sans-serif) !default;
// $font-family-code:                        var(--#{$prefix}font-monospace) !default;

$font-size-root: null !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
// $font-size-sm:                                $font-size-base * .875 !default;
// $font-size-lg:                                $font-size-base * 1.25 !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-black: 900 !default;

$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size
) !default;

$breakpoints: (
    "mobile": 375px,
    "tablet": 1024px,
    "desktop": 1400px
) !default;

